<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            display: block;
            justify-content: center;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Bienvenue sur mon site dynamique</h1>
        <div class="content">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, quia officia dolorum repudiandae quam cumque soluta ea aspernatur necessitatibus, laborum harum, exercitationem obcaecati unde perferendis assumenda ut non nam sequi quod nisi quos magnam illum sit. Dignissimos soluta odio tempora eaque non alias sunt facere.
            </p>
        </div>
    </div>
</body>
</html>